*{
    margin: 0;
    padding: 0;
}
 #kámen, #nůžky, #papír{
    background-color: red;
    border-radius: 50px;
    width: 20%;
    height: 10vh;
    display: inline-block;
    text-align: center;
    line-height: 10vh;
    margin: 2.5px;
    border: 2px solid;
}
 #player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nadpis{
    margin: 1vh 0 5vh;
}
#enemy{
    margin: 5vh 15% 0 ;
    border: 1vh solid rgb(179, 255, 0);
    cursor: not-allowed;
    border-radius: 20px;
    background-color: rgb(179, 255, 0);
}
#kámen_e,#nůžky_e,#papír_e{
    display: inline-block;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    border: 2px solid;
    width: 99.5%;
    border-radius: 1.5vh; 
    background-color: aqua;
    transition: background 1s ease 0.2s;
}
#confirm{
    margin: 20px;
    display: block;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    border: 2px solid #f8f8ff;
    width: 60%;
    border-radius: 25px; 
    
    transition: background 1s ease 0.2s;
    font-size: 150%;
}
#start{
    border:5px solid lightgreen;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 100px;
    background: red;
    font-size: 150%;
    font-weight: bold;
    margin-top: 1vh;
}
#confirm:hover{cursor: pointer;}
#start:hover {
    background-color: rgb(71, 236, 71);
    cursor: pointer;
    transition: 0.3s background;
}
#start:active , #confirm:active{
    background-color: green;
}
#kámen:hover,#nůžky:hover,#papír:hover{
    background-color: rgb(71, 236, 71);
    cursor: pointer;
    transition: 0.35s background;
}
#score {
    text-align: center;
    font-size: 5vh;
    font-weight: 1000;
}
#komentar{
    text-align: center;
    font-size: 7vh;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    margin: 0 22%;
}

#container{
    background: #f8f8ff;
    padding:0 auto;
    margin: 2.5vh auto;
    width: 95%;
    height: 95vh;

    
   
}
body{
    background-color: #e5e4e2;
}

